ul.messagelist li {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    padding: 10px 10px 10px 65px;
    margin: 0 0 10px 0;
    background: #dfd url(../img/icon-yes.svg) 40px 12px no-repeat;
    background-size: 16px auto;
    color:green;
}

.errorlist{
    color:#dc3545;
    font-weight: bold;
    font-size: 16px;

}

.messagesuccess{
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    padding: 10px 10px 10px 65px;
    margin: 0 0 10px 0;
    background: #dfd; /*url(../img/icon-yes.svg) 40px 12px no-repeat;*/
    background-size: 16px auto;
    color: green;
}