{% extends 'core/base.html' %}
{% load static %}
{% block title %}Perfiles{% endblock %}
{% block content %}

<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto mb-5">
      <h2>Perfiles</h2>
          <div class="row">
          {% for profile in profile_list|dictsort:'id' reversed %}
            <!-- Previa del avatar -->
            <div class="col-md-4 mt-2 mb-3">
                <div class="row p-1">
                    <div class="col-md-12">
              {% if profile.avatar %} <!-- Si existe un avatar, mostrar imagen cargada-->
                <img src="{{profile.avatar.url}}" class="img-fluid">
              {% else %}
                <img src="{% static 'registration/img/no-avatar-opt.jpg' %}" class="img-fluid">
              {% endif %}
            </div>
            <!-- Formulario -->
            <div class="col-md-10">
              <h5>{{profile.user}}</h5>
              <a href="{% url 'profiles:profiles_detail' profile.user %}">Ver perfil</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

         <!-- Menú de paginación -->
         {% if is_paginated %}
         <nav aria-label="Page navigation">
         <ul class="pagination justify-content-center">
             {% if page_obj.has_previous %}
             <li class="page-item ">
                 <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
             </li>
             {% else %}
             <li class="page-item disabled">
                 <a class="page-link" href="#" tabindex="-1">&laquo;</a>
             </li>
             {% endif %}
             {% for i in paginator.page_range %}
             <li class="page-item {% if page_obj.number == i %}active{% endif %}">
                 <a class="page-link" href="?page={{ i }}">{{ i }}</a>
             </li>
             {% endfor %}
             {% if page_obj.has_next %}
             <li class="page-item ">
                 <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
             </li>
             {% else %}
             <li class="page-item disabled">
                 <a class="page-link" href="#" tabindex="-1">&raquo;</a>
             </li>
             {% endif %}
         </ul>
         </nav>
         {% endif %}


    </div>
  </div>
</main>

{% endblock %}